**/__pycache__
*.pyc
**data/json/*
**data/plots/*
**data/plots/blender_files/*.txt
**.diffconvpl_env*
tmp.json
.vscode/
*.blend
*.blend1
!**data/experiments/blends/*.blend
!**src/assets/scene.blend*
!**src/assets/SDF_Material.mtl
current_timetag.txt
runner_tmp.json
